# Ignorar archivos de Python
__pycache__/
*.pyc

# Ignorar archivos de configuración de entorno
.env

# Ignorar módulos de Node.js
node_modules/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de logs
*.log

# Ignorar archivos de construcción
dist/
build/
